<div class="net-link container">
  <ul class="list-inline">
    <li>
      <a href="http://vip.iqiyi.com/" title="爱奇艺" target="_blank" >
        <img src="/assets/images/qqlogo.png" alt="bootstrap">
      </a>
    </li>
    <li>
      <a href="http://vip.youku.com/" title="youku" target="_blank">
        <img src="/assets/images/youkulogo.png" alt="React">
      </a>
    </li>
    <li>
      <a href="http://vip.tudou.com/index.html" title="土豆" target="_blank" >
        <img src="/assets/images/tudoulogo.png" alt="土豆">
      </a>
    </li>
    <li>
      <a href="http://yuanxian.le.com" title="" target="_blank" >
        <img src="/assets/images/letvlogo.png" alt="angular.js">
      </a>
    </li>
    <li>
      <a href="http://www.fun.tv/" title="Vue.js" target="_blank">
        <img src="/assets/images/fxw.png" alt="Vue.js">
      </a>
    </li>
    <li>
      <a href="http://www.mgtv.com/vip/" title="Backbone.js" target="_blank" >
        <img src="/assets/images/hunantvlogo.png" alt="backbonejs">
      </a>
    </li>
    <li>
      <a href="http://tv.sohu.com/" title="lodash" target="_blank">
        <img src="/assets/images/sohulogo.png" alt="lodashjs">
      </a>
    </li>
    <li>
      <a href="http://www.pptv.com/" title="Moment.js" target="_blank">
        <img src="/assets/images/pps.png" alt="momentjs">
      </a>
    </li>
  </ul>
</div>