<section class="row g-ports-select">
  <div class="col-xs-12">
    <form class="form-inline pull-right">
      <label>选择接口：</label>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default active api">
          <input type="radio" name="options" id="1" checked=""/>
          接口一
        </label>
        <label class="btn btn-default api">
          <input type="radio" name="options" id="2">接口二</label>
        <label class="btn btn-default api">
          <input type="radio" name="options" id="3">接口三</label>
        <label class="btn btn-default api">
          <input type="radio" name="options" id="4">接口四
        </label>
      </div>
    </form>
  </div>
  <div class="col-xs-12">
    <p class="video-title">{{title}}</p>
  </div>
</section>